## SQL<a class="tocSkip">
## Semillero TRIAC - DSP BULIDER GROUP <a class="tocSkip">
### Ingenieria Electrónica <a class="tocSkip">
### Universidad Popular del Cesar <a class="tocSkip">
### Prof.: Jose Ramón Iglesias Gamarra - [https://github.com/joseramoniglesias/](https://github.com/joseramoniglesias/) <a class="tocSkip">
**joseiglesias@unicesar.edu.co**

In [1]:
import pandas as pd
from sqlalchemy import create_engine, text

In [2]:
#url = 'https://raw.githubusercontent.com/joseramoniglesias/EL460_Ciencia_de_datos_2/main/Clases/Cap%C3%ADtulo_02/Pit%C3%B3n/survey_2022_processed.csv'
#df = pd.read_csv(url)
df=pd.read_csv('survey_2022_processed.csv')

In [3]:
df.head()

,work_province,work_contract_type,salary_monthly_BRUTO,salary_monthly_NETO,salary_in_usd,salary_last_dollar_value,salary_satisfaction,salary_comparison_last_semester,salary_has_bonus,salary_bonus_tied_to,...,work_listen_more_men,profile_has_disabilities,profile_has_disabilities_hiring_difficulties,work_lastyear_discrimination,¿Salir o seguir contestando?.3,company_days_in_the_office,company_pandemic_support,company_new_benefits,profile_age,profile_gender
0,Catamarca,Tercerizado (trabajo a través de consultora o ...,207000,150000.0,NaN,NaN,2,1,No,No recibo bono,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34,Varón Cis
1,Catamarca,Full-Time,130000,99000.0,NaN,NaN,3,4,Un sueldo,Performance de la compañía,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35,Varón Cis
2,Catamarca,Full-Time,185000,145000.0,Mi sueldo está dolarizado (pero cobro en moned...,100,2,2,De uno a tres sueldos,Performance grupal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26,Varón Trans
3,Catamarca,Full-Time,70000,60000.0,NaN,NaN,3,3,No,No recibo bono,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,33,Varón Cis
4,Catamarca,Full-Time,90000,74700.0,NaN,NaN,3,2,No,No recibo bono,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29,Mujer Cis

In [4]:
df.columns

Index(['work_province', 'work_contract_type', 'salary_monthly_BRUTO',
       'salary_monthly_NETO', 'salary_in_usd', 'salary_last_dollar_value',
       'salary_satisfaction', 'salary_comparison_last_semester',
       'salary_has_bonus', 'salary_bonus_tied_to',
       'salary_inflation_adjustment_2021',
       'salary_percentage_inflation_adjustment_2021',
       'salary_month_last_inflation_adjustment', 'work_role',
       'profile_years_experience', 'work_years_in_company',
       'work_years_in_current_position', 'work_people_in_charge_of',
       'tools_platform', 'Lenguajes de programación o tecnologías.',
       'tools_frameworks', 'tools_data_bases', 'tools_qa_testing',
       'tools_IDEs', 'Cantidad de personas en tu organización',
       'Trabajo para una empresa que no tiene oficina en mi ciudad',
       'company_main_activity', 'company_recommended',
       'company_extra_benefits', 'company_diversity_policies',
       '¿Salir o seguir contestando?', 'profile_studies_level',
       'profile_studies_level_state', 'profile_career', 'profile_university',
       'profile_specialization_courses', 'profile_open_source_contributions',
       'profile_programming_as_hobby', '¿Salir o seguir contestando?.1',
       'work_on_call_duty', 'salary_on_call_duty_charge',
       'work_on_call_duty_charge_type', '¿Salir o seguir contestando?.2',
       'work_has_violence_situations',
       '¿Considerás que en tu empresa/organización hay una marcada tendencia a escuchar más a los hombres?',
       'work_yourself_in_your_work', 'work_listen_more_men',
       'profile_has_disabilities',
       'profile_has_disabilities_hiring_difficulties',
       'work_lastyear_discrimination', '¿Salir o seguir contestando?.3',
       'company_days_in_the_office', 'company_pandemic_support',
       'company_new_benefits', 'profile_age', 'profile_gender'],
      dtype='object')

In [5]:
engine = create_engine('sqlite:///sysarmy.sqlite3', echo=True)

In [6]:
df.to_sql('survey', con=engine, if_exists="replace")

2024-05-10 12:39:13,812 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-05-10 12:39:13,828 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("survey")
2024-05-10 12:39:13,830 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,834 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("survey")
2024-05-10 12:39:13,835 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,837 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-10 12:39:13,837 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,841 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2024-05-10 12:39:13,842 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,843 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("survey")
2024-05-10 12:39:13,843 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,848 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-10 12:39:13,848 INFO sqlalchemy.engine.Engine [raw sql] ('survey',)
2024-05-10 12:39:13,852 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("survey")
2024-05-10 12:39:13,852 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,852 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("survey")
2024-05-10 12:39:13,855 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,855 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-10 12:39:13,855 INFO sqlalchemy.engine.Engine [raw sql] ('survey',)
2024-05-10 12:39:13,857 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("survey")
2024-05-10 12:39:13,859 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,864 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_survey_index")
2024-05-10 12:39:13,864 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,865 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("survey")
2024-05-10 12:39:13,867 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,869 INFO sqlalchemy.engine.Engine PRAGMA main.index_info("ix_survey_index")
2024-05-10 12:39:13,869 INFO sqlalchemy.engine.Engine [raw sql] ()
2024-05-10 12:39:13,869 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2024-05-10 12:39:13,873 INFO sqlalchemy.engine.Engine [raw sql] ('survey',)
2024-05-10 12:39:13,879 INFO sqlalchemy.engine.Engine
DROP TABLE survey
2024-05-10 12:39:13,879 INFO sqlalchemy.engine.Engine [no key 0.00070s] ()
2024-05-10 12:39:13,897 INFO sqlalchemy.engine.Engine
CREATE TABLE survey (
	"index" BIGINT,
	work_province TEXT,
	work_contract_type TEXT,
	"salary_monthly_BRUTO" TEXT,
	"salary_monthly_NETO" FLOAT,
	salary_in_usd TEXT,
	salary_last_dollar_value TEXT,
	salary_satisfaction BIGINT,
	salary_comparison_last_semester BIGINT,
	salary_has_bonus TEXT,
	salary_bonus_tied_to TEXT,
	salary_inflation_adjustment_2021 TEXT,
	salary_percentage_inflation_adjustment_2021 FLOAT,
	salary_month_last_inflation_adjustment FLOAT,
	work_role TEXT,
	profile_years_experience FLOAT,
	work_years_in_company FLOAT,
	work_years_in_current_position FLOAT,
	work_people_in_charge_of BIGINT,
	tools_platform TEXT,
	"Lenguajes de programación o tecnologías." TEXT,
	tools_frameworks TEXT,
	tools_data_bases TEXT,
	tools_qa_testing TEXT,
	"tools_IDEs" TEXT,
	"Cantidad de personas en tu organización" TEXT,
	"Trabajo para una empresa que no tiene oficina en mi ciudad" TEXT,
	company_main_activity TEXT,
	company_recommended BIGINT,
	company_extra_benefits TEXT,
	company_diversity_policies BIGINT,
	"¿Salir o seguir contestando?" TEXT,
	profile_studies_level TEXT,
	profile_studies_level_state TEXT,
	profile_career TEXT,
	profile_university TEXT,
	profile_specialization_courses TEXT,
	profile_open_source_contributions TEXT,
	profile_programming_as_hobby TEXT,
	"¿Salir o seguir contestando?.1" TEXT,
	work_on_call_duty TEXT,
	salary_on_call_duty_charge FLOAT,
	work_on_call_duty_charge_type TEXT,
	"¿Salir o seguir contestando?.2" TEXT,
	work_has_violence_situations TEXT,
	"¿Considerás que en tu empresa/organización hay una marcada tendencia a escuchar más a los hombres?" TEXT,
	work_yourself_in_your_work TEXT,
	work_listen_more_men TEXT,
	profile_has_disabilities TEXT,
	profile_has_disabilities_hiring_difficulties TEXT,
	work_lastyear_discrimination TEXT,
	"¿Salir o seguir contestando?.3" TEXT,
	company_days_in_the_office FLOAT,
	company_pandemic_support FLOAT,
	company_new_benefits TEXT,
	profile_age BIGINT,
	profile_gender TEXT
)


2024-05-10 12:39:13,897 INFO sqlalchemy.engine.Engine [no key 0.00085s] ()
2024-05-10 12:39:13,905 INFO sqlalchemy.engine.Engine CREATE INDEX ix_survey_index ON survey ("index")
2024-05-10 12:39:13,907 INFO sqlalchemy.engine.Engine [no key 0.00110s] ()
2024-05-10 12:39:14,176 INFO sqlalchemy.engine.Engine INSERT INTO survey ("index", work_province, work_contract_type, "salary_monthly_BRUTO", "salary_monthly_NETO", salary_in_usd, salary_last_dollar_value, salary_satisfaction, salary_comparison_last_semester, salary_has_bonus, salary_bonus_tied_to, salary_inflation_adjustment_2021, salary_percentage_inflation_adjustment_2021, salary_month_last_inflation_adjustment, work_role, profile_years_experience, work_years_in_company, work_years_in_current_position, work_people_in_charge_of, tools_platform, "Lenguajes de programación o tecnologías.", tools_frameworks, tools_data_bases, tools_qa_testing, "tools_IDEs", "Cantidad de personas en tu organización", "Trabajo para una empresa que no tiene oficina en mi ciudad", company_main_activity, company_recommended, company_extra_benefits, company_diversity_policies, "¿Salir o seguir contestando?", profile_studies_level, profile_studies_level_state, profile_career, profile_university, profile_specialization_courses, profile_open_source_contributions, profile_programming_as_hobby, "¿Salir o seguir contestando?.1", work_on_call_duty, salary_on_call_duty_charge, work_on_call_duty_charge_type, "¿Salir o seguir contestando?.2", work_has_violence_situations, "¿Considerás que en tu empresa/organización hay una marcada tendencia a escuchar más a los hombres?", work_yourself_in_your_work, work_listen_more_men, profile_has_disabilities, profile_has_disabilities_hiring_difficulties, work_lastyear_discrimination, "¿Salir o seguir contestando?.3", company_days_in_the_office, company_pandemic_support, company_new_benefits, profile_age, profile_gender) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2024-05-10 12:39:14,176 INFO sqlalchemy.engine.Engine [generated in 0.20486s] [(0, 'Catamarca', 'Tercerizado (trabajo a través de consultora o agencia)', '207000', 150000.0, None, None, 2, 1, 'No', 'No recibo bono', 'Dos', 53.0, 11.0, 'Technical Leader', 9.0, 1.0, 3.0, 0, 'Ninguna de las anteriores', 'Ninguno de los anteriores', 'Ninguno de los anteriores', 'Ninguna de las anteriores', 'Ninguna de las anteriores', 'Ninguno de los anteriores', '5001-10000', 'Trabajo para una empresa que no tiene oficina en mi ciudad', 'Otras industrias', 10, 'Horarios flexibles', 9, 'Quiero responder más preguntas', 'Universitario', 'Completado', 'Licenciatura en redes y comunicación de datos ', 'UP - Universidad de Palermo', 'Sí, de forma particular, Sí, los pagó un empleador', 'No', 'Sí', 'Quiero responder más preguntas', 'No', 0.0, 'Porcentaje de mi sueldo', 'Ya colaboré lo suficiente', None, None, None, None, None, None, None, None, None, None, None, 34, 'Varón Cis'), (1, 'Catamarca', 'Full-Time', '130000', 99000.0, None, None, 3, 4, 'Un sueldo', 'Performance de la compañía', 'Tres', 13.0, 10.0, 'Developer', 7.0, 0.0, 5.0, 0, 'Serverless, Windows Server', '.NET, C#, SQL, TypeScript', '.NET Core, Angular, Bootstrap', 'Informix', 'JUnit, Karma, Postman', 'Visual Studio, Visual Studio Code', '51-100', None, 'Producto basado en Software', 9, 'Capacitaciones y/o cursos, Clases de idiomas', 9, 'Ya colaboré lo suficiente', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 35, 'Varón Cis'), (2, 'Catamarca', 'Full-Time', '185000', 145000.0, 'Mi sueldo está dolarizado (pero cobro en moneda local)', '100', 2, 2, 'De uno a tres sueldos', 'Performance grupal', 'Uno', 10.0, 2.0, 'Developer', 2.0, 1.0, 1.0, 0, 'Amazon Web Services', 'Go, Java, SQL', 'Spring, Gin gonic', 'Amazon DynamoDB, MySQL', 'JUnit, Postman', 'IntelliJ, Visual Studio Code', '5001-10000', 'Trabajo para una empresa que no tiene oficina en mi ciudad', 'Producto basado en Software', 10, 'Descuento en gimnasios / Clases de gimnasia online, Descuentos varios (Mercado Pago, Clarín 365, Club La Nación, etc), Horarios flexibles', 10, 'Ya colaboré lo suficiente', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 26, 'Varón Trans'), (3, 'Catamarca', 'Full-Time', '70000', 60000.0, None, None, 3, 3, 'No', 'No recibo bono', 'No', 10.0, 6.0, 'Developer', 5.0, 4.0, 2.0, 1, 'Arduino o similar, Docker, Linux, Microcontroladores, VMWare', 'Arduino, C, PHP, Python, R', 'Bootstrap, Node.js, Svelte', 'MariaDB, MongoDB, MySQL', 'Ninguna de las anteriores', 'IntelliJ, NetBeans, Notepad++, PHPStorm, Visual Studio Code', '501-1000', None, 'Otras industrias', 5, 'Ninguna de las anteriores', 5, 'Ya colaboré lo suficiente', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 33, 'Varón Cis'), (4, 'Catamarca', 'Full-Time', '90000', 74700.0, None, None, 3, 2, 'No', 'No recibo bono', 'No', 0.0, 0.0, 'QA / Tester', 0.0, 0.0, 0.0, 0, 'Azure', 'Ninguno de los anteriores', 'Ninguno de los anteriores', 'Ninguna de las anteriores', 'Ninguna de las anteriores', 'Ninguno de los anteriores', '101-200', 'Trabajo para una empresa que no tiene oficina en mi ciudad', 'Servicios / Consultoría de Software / Digital', 8, 'Abono de Internet, Capacitaciones y/o cursos, Clases de idiomas, Comidas pagas / subvencionadas', 2, 'Quiero responder más preguntas', 'Terciario', 'En curso', 'Tecnicatura en Programación', None, 'Sí, de forma particular', 'No', 'No', 'Ya colaboré lo suficiente', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 29, 'Mujer Cis'), (5, 'Catamarca', 'Full-Time', '250000', 169000.0, 'Mi sueldo está dolarizado (pero cobro en moneda local)', '105.6', 4, 4, 'No', 'No recibo bono', 'Tres', 52.0, 12.0, 'Networking', 36.0, 36.0, 15.0, 28, 'Linux', 'PHP, Python', 'Drupal', 'MariaDB, MySQL', 'Ninguna de las anteriores', 'IPython / Jupyter', '51-100', None, 'Servicios / Consultoría de Software / Digital', 10, 'Abono de celular, Abono de Internet', 10, 'Ya colaboré lo suficiente', None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 53, 'Varón Cis'), (6, 'Catamarca', 'Full-Time', '447000', 300000.0, 'Mi sueldo está dolarizado (pero cobro en moneda local)', '200', 3, 3, 'De uno a tres sueldos', 'Mix de las anteriores', 'Dos', 40.0, 7.0, 'Developer', 3.0, 0.0, 0.0, 0, 'Firebase', 'CSS, Javascript, TypeScript', 'Angular, React.js, React native', 'Ninguna de las anteriores', 'Jest, react native testing library', 'Android Studio, Visual Studio Code, Xcode', '101-200', 'Trabajo para una empresa que no tiene oficina en mi ciudad', 'Producto basado en Software', 6, 'Clases de idiomas, Horarios flexibles, Licencia de paternidad / maternidad extendida, Vacaciones flexibles (adicionales a las reglamentarias)', 2, 'Quiero responder más preguntas', 'Universitario', 'Completado', 'Ingeniería en Informática', 'UNCA universidad nacional de catamarca', 'Sí, de forma particular', 'No', 'No', 'Quiero responder más preguntas', 'Sí, pasiva', 0.0, 'Porcentaje de mi sueldo', 'Ya colaboré lo suficiente', None, None, None, None, None, None, None, None, None, None, None, 28, 'Varón Cis'), (7, 'Catamarca', 'Part-Time', '160000', 110000.0, None, None, 2, 2, 'No', 'No recibo bono', 'Dos', 35.0, 11.0, 'Infosec', 25.0, 20.0, 3.0, 0, 'Docker, Linux, VMWare', 'Bash/Shell, HTML, Java, Javascript, PHP, Python, R, SQL', 'Django, Laravel', 'MySQL', 'Ninguna de las anteriores', 'IPython / Jupyter, Notepad++, Sublime Text, Vi, Vim', '11-50', None, 'Otras industrias', 5, 'Estacionamiento gratuito / subvencionado, Licencia de paternidad / maternidad extendida', 7, 'Quiero responder más preguntas', 'Universitario', 'Completado', 'Licenciatura en Sistemas de Información', 'UNCa', 'Sí, de forma particular', 'Sí', 'Sí', 'Quiero responder más preguntas', 'Sí, pasiva', 0.0, 'Bruto', 'Quiero responder más preguntas', None, 'No', 'Sí', 'No', None, 'No', 'Nunca', 'Quiero responder más preguntas', 5.0, 9.0, 'Préstamo de equipos', 50, 'Varón ')  ... displaying 10 of 5854 total bound parameter sets ...  (5852, 'Tucumán', 'Full-Time', '59500', 49385.0, None, None, 2, 2, 'Un sueldo', 'Performance individual', 'Dos', 17.0, 10.0, 'Recruiter / HR', 1.0, 1.0, 1.0, 5, 'Ninguna de las anteriores', 'Ninguno de los anteriores', 'Ninguno de los anteriores', 'Ninguna de las anteriores', 'Ninguna de las anteriores', 'Ninguno de los anteriores', '2-10', 'Trabajo para una empresa que no tiene oficina en mi ciudad', 'Servicios / Consultoría de Software / Digital', 9, 'Clases de idiomas, Horarios flexibles', 0, 'Quiero responder más preguntas', 'Universitario', 'Incompleto', 'Licenciatura en Administración', 'UNT - Universidad Nacional de Tucumán', 'Sí, de forma particular', 'No', 'No', 'Quiero responder más preguntas', 'No', 0.0, 'Neto', 'Quiero responder más preguntas', None, None, 'Sí', 'Sí', None, 'No', 'Nunca', 'Quiero responder más preguntas', 0.0, 8.0, 'Ninguna de las anteriores', 31, 'Varón Cis'), (5853, 'Tucumán', 'Full-Time', '88060', 74000.0, None, None, 2, 2, 'No', 'No recibo bono', 'Uno', 34.0, 12.0, 'Designer', 22.0, 12.0, 3.0, 0, 'Ninguna de las anteriores', 'CSS, HTML, Javascript', 'Bootstrap, Drupal, jQuery, WordPress', 'MySQL', 'Ninguna de las anteriores', 'Sublime Text, Visual Studio Code', '2-10', None, 'Servicios / Consultoría de Software / Digital', 6, 'Ninguna de las anteriores', 0, 'Quiero responder más preguntas', 'Secundario', 'Completado', None, None, 'Sí, de forma particular', 'No', 'No', 'Quiero responder más preguntas', 'No', 0.0, 'Porcentaje de mi sueldo', 'Quiero responder más preguntas', 'Asimetría jerárquica', 'Sí', 'Sí', 'No', None, 'No', None, 'Ya colaboré lo suficiente', None, None, None, 44, 'Varón Cis')]
2024-05-10 12:39:14,331 INFO sqlalchemy.engine.Engine COMMIT

5854

In [20]:
query1 = "SELECT * FROM survey WHERE salary_monthly_NETO > 100000 LIMIT 10"
query2 = "SELECT COUNT(1) FROM survey WHERE salary_monthly_NETO > 100000"
query3 = "SELECT AVG(salary_monthly_NETO) FROM survey"
query4 = "SELECT AVG(salary_monthly_NETO) FROM survey WHERE profile_gender = 'Mujer'"
query5 = "SELECT AVG(salary_monthly_NETO) FROM survey WHERE profile_gender = 'Hombre'"
query6 = "SELECT profile_gender, AVG(salary_monthly_NETO) FROM survey GROUP BY profile_gender"
query7 = "SELECT profile_gender, AVG(salary_monthly_NETO) FROM survey WHERE profile_years_experience > 5 GROUP BY profile_gender"
query8 = "SELECT profile_gender, AVG(salary_monthly_NETO) as avg_salary, MAX(salary_monthly_NETO), MIN(salary_monthly_NETO), COUNT(1) FROM survey WHERE profile_years_experience > 5 GROUP BY profile_gender HAVING COUNT(*) > 100 ORDER BY  AVG(salary_monthly_NETO) DESC"

queries = [query1, query2, query3, query4, query5, query6, query7, query8]

In [22]:
with engine.connect() as con:
      rs = con.execute(query3)
      # print(query1)
      for row in rs:
          print(row)

ObjectNotExecutableError: Not an executable object: 'SELECT AVG(salary_monthly_NETO) FROM survey'

In [15]:
with engine.connect() as con:
    for query in queries:
      rs = con.execute(query)
      print(query)
      for row in rs:
          print(row)

      print('\n\n')

ObjectNotExecutableError: Not an executable object: 'SELECT * FROM survey WHERE salary_monthly_NETO > 100000 LIMIT 10'

In [16]:
conn = engine.connect()

In [17]:
result = conn.execute('SELECT COUNT(1) FROM survey WHERE salary_monthly_NETO > 100000')
print(result.all())

ObjectNotExecutableError: Not an executable object: 'SELECT COUNT(1) FROM survey WHERE salary_monthly_NETO > 100000'